* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .slider {
  background: linear-gradient(90deg, rgba(231,231,240,1) 22%, rgba(7,8,8,1) 100%);
  min-height: 100vh;  
} */
.active {
  background-color: white;
}
.slick-slide > div{
  margin: 0 10px;
}
